*.pyc
/backend/db.sqlite3
.DS_Store
.env
*/settings/local.py
/staticfiles/*
/mediafiles/*
__pycache__/
/.vscode/

# coverage result
.coverage
/coverage/

# data
*.dump

# npm
node_modules/
npm-debug.log

# Webpack
/frontend/dist/*
/frontend/webpack_dist/*
/frontend/webpack-stats.json
/frontend/dist/*
/frontend/dist

# Sass
.sass-cache
*.map

# General
/familybudget-venv/
/venv/
/env/
/output/
/cache/
boilerplate.zip

# Spritesmith
spritesmith-generated/
spritesmith.scss

# templated email
tmp_email/

.direnv
.envrc
.tool-versions

# Mega Linters Localized Report
report
report/

# Personal
v0_11_0_full_functionality_unoptimized.gif
